@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.Header{
    background-color: #5a2d69 ;
    padding: 10px ;
    margin: 0 0 10px 0 ;
    display: grid ;
    grid-template-columns: 1fr 2fr 1fr ;
    align-items: center ;
    justify-content: start;
    overflow: hidden ; 
}

.HambergerMenu button{
    background-color: transparent ;
    text-align: start ;
   border-radius: 10px ;
   border: none ;
   padding: 10px ;
   color: #ba62d7;
}

.Title{
    font-family: 'Tangerine', cursive;
    text-align: center ;
    font-size: 35px ;
    color: white;
}

.CVBtn{
    background-color: transparent ;
    text-align : end ;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CVBtn button{
    background-color: #5a2d69;
    padding: 10px ;
    width: 50px ;
    height: 50px ;
    font-size: 20px ;
    font-weight: bold ;
    border-radius: 50% ;
    border: 3px solid #ba62d7 ;
    text-align: start ;
    color: #ba62d7;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.CVBtn button::hover{
    background-color: aqua;
}

.CVBtn button a {
    text-decoration: none ;
    color: #ba62d7;

}

.SocialLinks{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7.7px);
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center ;
    text-align: center ;
    padding: 10px ;
}

.SocialLinks a {
    color: white ;
}