.Project{
    /* background-color: ; */
    border-radius: 10px ;
    display: grid ;
    grid-template-rows: auto ;
    padding: 5px 10px 10px 10px  ;
    margin: 5px ;
    overflow-y: scroll ;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7.7px);
}

.Heading{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    font-size: 1.5rem ;
    font-weight: 500 ;
    padding: 5px ;
    margin: 3px 5px 3px 5px  ;
    color: white;
}

.AppScreenshot{
    background-color: blueviolet;
    padding: 5px ;
    margin: 3px 5px 3px 5px  ;
    border-radius: 15px ;
    /* border: 1px solid black ; */
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.AppScreenshot > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppScreenshot a img{
    border-radius: 10px ;
    height: auto ;
    width: 100% ;
}

.TechWrapper{
    /* background-color: aquamarine; */
    display: flex ;
    align-items: center ;
    justify-content: center ;
    padding: 10px ;
    gap: 10px ;
    margin: 3px 5px 3px 5px  ;
}

.TechWrapper .Technologies{
    background-color: rgba(255, 255, 255, 0.3) ;
    width: 100% ;
    padding: 10px ;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px ; */
    grid-template-rows: auto ;
    align-items: center ;
    justify-content: space-around ;
    border-radius: 10px ;
}

.TechWrapper .Technologies img{
    width: 40px ;
    height: 40px ;
    background-color: transparent ;
}

.Animate{
    animation: animate 2s ease 0s infinite ;
}

@keyframes animate {
    0%{
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

/* @keyframes animate{
  0%{
       
        transform: rotate(0);
    }

    20%{
       
        transform: rotate(30deg);
    }

    40%{
        
        transform: rotate(0deg);
    }

    60%{
        
        transform: rotate(-30deg);
    }

    80%{
        transform: rotate(0deg) ;
    }



} */
    
    



.TechWrapper .RepoLinkBtn{
    width: 50px ;
    height: 50px ;
    display: flex ;
    align-items: center ;
    
}

.TechWrapper .RepoLinkBtn button{
    background-color: transparent ;
    border: none ;
}

.TechWrapper a{
    color: white ;
}



.Description{
    background-color: rgba(255, 255, 255, 0.15) ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    padding: 10px ;
    margin: 3px 5px 3px 5px  ;
    border-radius: 10px ;
    color: white;
}