@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
.Header {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px 25px;
    background-color: #5a2d69;
}

.Title {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.SocialLinks {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.SocialLinks > a {
    color: white;
}

.ResumeBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ResumeBtn > a > button {
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: 3px solid #ba62d7;
    cursor: pointer;
    background-color: #5a2d69;
    color: #ba62d7;
    transition-property: background-color, color;
    transition-duration: 200ms;
}

.ResumeBtn > a > button:hover {
    background-color: #ba62d7;
    color: #5a2d69;
}

.ResumeBtn > a {
    text-decoration: none;
}